body{
 margin:0;
 overflow:hidden;
 background:#0b0f1a;
 font-family:Arial;
 color:white;
}

canvas{
 position:fixed;
 inset:0;
 z-index:1;
}

/* MENU */
#menu, #shop{
 position:fixed;
 inset:0;
 display:flex;
 align-items:center;
 justify-content:center;
 flex-direction:column;
 background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
 z-index:10;
}

#shop{
 display:none;
}

.menu-box{
 background:#ffffff11;
 padding:30px;
 border-radius:20px;
 text-align:center;
}

button,input{
 padding:12px;
 margin:10px;
 border:none;
 border-radius:10px;
}

button{
 background:linear-gradient(45deg,#00ccff,#00ffcc);
 cursor:pointer;
}

/* TIENDA */
.skin{
 margin:10px;
 padding:10px;
 background:#ffffff11;
 border-radius:10px;
}

/* MONEDAS */
#coins{
 position:fixed;
 top:10px;
 right:10px;
 z-index:5;
}

/* CONTROLES */
#controls{
 position:fixed;
 bottom:20px;
 left:0;
 right:0;
 display:flex;
 justify-content:center;
 gap:20px;
 z-index:5;
}

.ctrl{
 width:70px;
 height:70px;
 border-radius:50%;
 background:#ffffff22;
 display:flex;
 align-items:center;
 justify-content:center;
 font-size:24px;

 user-select:none;
 -webkit-user-select:none;
 touch-action:none;
}
