body{
    background:#0f172a;
    color:#e2e8f0;
    font-family:sans-serif;
}

.navbar{
    background:rgba(0,0,0,0.6)!important;
    backdrop-filter:blur(10px);
}

.hero{
    height:90vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url('https://upload.wikimedia.org/wikipedia/commons/1/1a/Spanish_Empire_%28c.1580%29.png') center/cover;
}

.section-title{
    color:#38bdf8;
    margin-bottom:30px;
}

img{
    border-radius:20px;
    transition:0.4s;
}
img:hover{
    transform:scale(1.05);
}

.fade-in{
    opacity:0;
    transform:translateY(40px);
    transition:1s;
}
.fade-in.visible{
    opacity:1;
    transform:translateY(0);
}

.quiz-box{
    background:#1e293b;
    padding:30px;
    border-radius:20px;
}

.btn-pro{
    background:#38bdf8;
    border:none;
    margin:5px;
}
